* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100vh;  
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    gap: 20%;
    font-style: normal;
    
 
}


ul {
    display: flex;
    flex-direction: row;
    gap: 16%;
    list-style: none;
    padding-left: 0rem;
}
ul li a{
    text-decoration: none;
   
    list-style: none;
    color: rgb(80, 78, 78);

}

.nav {
    display: flex;
    /* width: 100vw; */
    flex-direction: row;
    justify-content: space-around;
    height: 20%;
    align-items: center;

   /* align-content: center; */
}
.name{
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 8px;
}
.nav-right {
    display: flex;
    flex-direction: row;

   


}
.body-part{
    display: flex;
    flex-direction: row;
    height: 20%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
   
}
.image > img{
    border-radius: 60%;
    height: 180px;
    width: 200px;
   justify-self: center;
}